<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2>
			<i class="fa fa-plus"></i> Editar Contato
		</h2>

		<div class="input-group">
			<label for="nome">Nome:</label>
			<input type="text" class="form-control" name="nome">
		</div>
		<div class="input-group">
			<label for="email">E-mail:</label>
			<input type="email" class="form-control" name="email">
		</div>
		<div class="input-group">
			<label for="phone">Telefone:</label>
			<input type="text" class="form-control" name="phone">
		</div>
		<div class="input-group">
			<label for="twitter">Twitter:</label>
			<input type="text" class="form-control" name="twitter">
		</div>
		<div class="input-group">
			<a mat-raised-button color="primary">
				<i class="fa fa-save"></i> Salvar
			</a>
			<a mat-raised-button color="warn">
				<i class="fa fa-times"></i> Cancelar
			</a>
		</div>
	</div>
</div>