/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~font-awesome/css/font-awesome.css";
@import "~sweetalert2/dist/sweetalert2.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	padding: 0;
	margin: 0;
	font-family: Roboto, arial;
}@mixin inRow {
	display: inline-block;
	width: 100%;
	float: left;
}
img {
	@include inRow;
}
header {
	@include inRow;
	background: #432252;
	padding: 10px 0;
	color: #fff;
	.menu {
		line-height: 50px;
		font-size: 16px;
		a {
			display: inline-block;
			color: #fff;
			border-bottom: solid 2px transparent;
			text-decoration: none!important;
			padding: 0 20px;
			&:hover {
				border-bottom: solid 2px #ffab80;
			}
		}
	}

	.topo {
		@include inRow;
		display: inline-block;
		width: 100%;
		float: left;
	}
	h1 {
		padding: 0;
		margin: 0;
		text-align: center;
		line-height: 78px;
		font-size: 16px;
	}

}
h2 {
	padding: 10px 0;
	margin: 10px 0;
}
.lista {
	width: 100%;
	thead {
		width: 100%;
		background: #432252;
		line-height: 40px;
		color: #fff;
		font-weight: bolder;
		text-transform: uppercase;
		th {
			padding: 0 10px;
		}
	}
	tbody {
		tr {
			width: 100%;
			line-height: 30px;
			border-bottom: solid 1px #eee;
			&:nth-child(odd) {
				background-color: rgba(0,0,0,0.02);
			}
			td {
				padding: 0 3px;
			}
		}
	}
}

.mat-raised-button {
	margin: 3px 0 3px 3px!important;
	text-decoration: none!important;
}

.input-group {
	@include inRow;
	margin-bottom: 10px;
	
	label {
		margin-bottom: 0;
	}
	input[type=text],
	input[type=email] {
		border-radius: 4px!important;
	}
}
section {
	margin: 50px 0;
}