<h2>
	<i class="fa fa-list"></i> Lista contatos
</h2>

<table class="lista">
	<thead>
		<tr>
			<th class="text-center">id</th>
			<th>nome</th>
			<th>email</th>
			<th>twitter</th>
			<th class="text-center">telefone</th>
			<th class="text-right"><b style="margin-right: 15%">operações</b></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let c of contatos">
			<td class="text-center"> {{c.id}} </td>
			<td>{{c.nome}}</td>
			<td> <a href="mailto:{{c.email}}"> {{c.email}} </a> </td>
			<td> <a href="mailto:{{c.twitter}}"> {{c.twitter}} </a> </td>
			<td class="text-center"> {{c.phone}} </td>
			<td class="text-right">
				<a mat-raised-button color="primary">
					<i class="fa fa-pencil"></i> Editar
				</a>
				<a mat-raised-button color="warn">
					<i class="fa fa-trash"></i> Excluir
				</a>
			</td>
		</tr>
	</tbody>
</table>
<!-- 
<table mat-table [dataSource]="contatos" class="mat-elevation-z8">

  - Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition"

  Position Column
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
  </ng-container>

  Name Column
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  Weight Column
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.twitter}} </td>
  </ng-container>

  Symbol Column
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

 -->